#*.iml
.gradle
/local.properties
#/.idea/libraries
#/.idea/modules.xml
#/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild

// Include the .gitignore file.
!.gitignore

// Ignore the /app/release folder.
/app/release
