<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.src_resources.classThreeApplication"
    android:versionCode="0"
    android:versionName="@string/app_versionName">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AppMainApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- android:hardwareAccelerated="false" 避免出现 android.os.DeadObjectException: Failed to dispatch window animation state change. 异常 -->

        <activity
            android:name=".AppLauncherActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:theme="@style/NoTitleBarTheme"> <!-- 避免横竖屏切换导致重复调用 onCreate() 方法。 -->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AppMainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name">

            <!-- android:configChanges="orientation|keyboardHidden" 避免横竖屏切换导致重复调用 onCreate() 方法。 -->

        </activity>
        <activity
            android:name=".BrowserActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name">

            <!-- android:configChanges="orientation|keyboardHidden" 避免横竖屏切换导致重复调用 onCreate() 方法。 -->

        </activity>
        <activity
            android:name=".TextShowingActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name">

            <!-- android:configChanges="orientation|keyboardHidden" 避免横竖屏切换导致重复调用 onCreate() 方法。 -->

        </activity>

        <service
            android:name=".AppVersionCheckingService"
            android:enabled="true"
            android:exported="false">

        </service>
    </application>

</manifest>